In [1]:
import pandas as pd

In [24]:
%cd C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\GENOMIC\Daniela\Pvulgaris
TEvulgaris=pd.read_csv('DBFinal_pvulgarisV1_EDTA_RM_INPACTOR.csv',sep='\t')

C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\GENOMIC\Daniela\Pvulgaris

In [31]:
df2 = pd.read_csv('coordenadasGenes.txt', sep='\t')

In [32]:
df2

      Chr     Start       End
0   Chr06    696767    698504
1   Chr06  19056255  19058210
2   Chr06  19068725  19070752
3   Chr06  19092672  19094730
4   Chr06  19104464  19107947
5   Chr10  19087109  19089486
6    Chr8  31902909  31904826
7   Chr10   1669390   1672672
8   Chr10   1660202   1663311
9   Chr10  18976778  18979469
10  Chr10  20385333  20387250
11  Chr10  28943317  28945243
12  Chr06   8197094   8201997
13  Chr06   4804136   4806473
14  Chr06   4690676   4696021
15   Chr8  49306400  49308323
16   Chr8  49413350  49415585
17   Chr8  49528636  49531128
18   Chr8  49562418  49565723
19  Chr11  45151336  45153794

In [82]:

for i in range(len(df2['Start'])):
    # Definir los límites del rango
    chr=df2.loc[i,'Chr']
    end1 = df2.loc[i,'Start']
    start1 = end1-10000
    start2 = df2.loc[i,'End']
    end2 = start2+10000
    
    # # Seleccionar las filas de la primera tabla que caen dentro del rango
    mask1 = (TEvulgaris['Chr']==chr) & (TEvulgaris['Start'] >= start1) & (TEvulgaris['Start'] <= end1)
    mask2 = (TEvulgaris['Chr']==chr) & (TEvulgaris['End'] >= start2) & (TEvulgaris['End'] <= end2)

    res1=TEvulgaris[mask1]
    res2 = TEvulgaris[mask2].rename(columns={"Chr": "Chr_2", "Start": "Start_2", "End": "End_2", "Size": "Size_2", "Taxonomy": "Taxonomy_2"})
    res1=res1.reset_index()
    res2=res2.reset_index()
    result=pd.concat([res1,res2],axis=1)
    print(result)
    with open ('TEvulgaris_10kb.txt', 'a') as f:
         result.to_csv(f, sep='\t', index=False)

    index    Chr   Start     End  Size       Taxonomy     index  Chr_2
0  118013  Chr06  686934  688483  1549  LTR/Gypsy/TAT  118020.0  Chr06  \
1  118014  Chr06  688443  689243   800  LTR/Gypsy/CRM  118021.0  Chr06
2  118015  Chr06  689485  690536  1051  LTR/Gypsy/CRM  118022.0  Chr06
3  118016  Chr06  690637  691177   540  LTR/Gypsy/CRM  118023.0  Chr06
4  118017  Chr06  691178  692323  1145  LTR/Gypsy/TAT  118024.0  Chr06
5  118018  Chr06  695659  696016   357      DNA/CACTA  118025.0  Chr06
6  118019  Chr06  696757  697364   607        DNA/DTC       NaN    NaN

    Start_2     End_2  Size_2      Taxonomy_2
0  697393.0  699112.0  1719.0   LTR/Gypsy/CRM
1  699115.0  699266.0   151.0         DNA/DTC
2  699268.0  700252.0   984.0   LTR/Gypsy/TAT
3  700253.0  700892.0   639.0         DNA/DTC
4  701221.0  703944.0  2723.0  LTR/Copia/SIRE
5  704380.0  708363.0  3983.0  LTR/Copia/SIRE
6       NaN       NaN     NaN             NaN
       index    Chr       Start         End   Size      Taxonomy   index
0   128160.0  Chr06  19046610.0  19046797.0  187.0          LINE  128170  \
1   128161.0  Chr06  19046788.0  19047206.0  418.0          LINE  128171
2   128162.0  Chr06  19047107.0  19047477.0  370.0          LINE  128172
3   128163.0  Chr06  19047499.0  19047732.0  233.0          LINE  128173
4   128164.0  Chr06  19049516.0  19049857.0  341.0  DNA/Helitron  128174
5   128165.0  Chr06  19049993.0  19050123.0  130.0       DNA/DTM  128175
6   128166.0  Chr06  19050703.0  19051141.0  438.0     DNA/CACTA  128176
7   128167.0  Chr06  19051272.0  19051401.0  129.0  DNA/Helitron  128177
8   128168.0  Chr06  19054179.0  19054312.0  133.0          LINE  128178
9        NaN    NaN         NaN         NaN    NaN           NaN  128179
10       NaN    NaN         NaN         NaN    NaN           NaN  128180
11       NaN    NaN         NaN         NaN    NaN           NaN  128181
12       NaN    NaN         NaN         NaN    NaN           NaN  128182

    Chr_2   Start_2     End_2  Size_2    Taxonomy_2
0   Chr06  19059036  19059215     179  DNA/Helitron
1   Chr06  19059199  19059315     116  DNA/Helitron
2   Chr06  19059240  19059380     140  DNA/Helitron
3   Chr06  19059506  19059657     151  DNA/Helitron
4   Chr06  19059581  19059689     108  DNA/Helitron
5   Chr06  19059675  19059859     184  DNA/Helitron
6   Chr06  19060369  19060481     112       DNA/DTM
7   Chr06  19060381  19060507     126          LINE
8   Chr06  19062658  19062992     334          LINE
9   Chr06  19065722  19066009     287      MITE/DTM
10  Chr06  19066394  19066762     368          LINE
11  Chr06  19067380  19067629     249       DNA/DTM
12  Chr06  19067682  19067945     263       DNA/DTM
     index    Chr     Start       End  Size      Taxonomy     index  Chr_2
0   128170  Chr06  19059036  19059215   179  DNA/Helitron  128184.0  Chr06  \
1   128171  Chr06  19059199  19059315   116  DNA/Helitron  128185.0  Chr06
2   128172  Chr06  19059240  19059380   140  DNA/Helitron  128186.0  Chr06
3   128173  Chr06  19059506  19059657   151  DNA/Helitron  128187.0  Chr06
4   128174  Chr06  19059581  19059689   108  DNA/Helitron  128188.0  Chr06
5   128175  Chr06  19059675  19059859   184  DNA/Helitron       NaN    NaN
6   128176  Chr06  19060369  19060481   112       DNA/DTM       NaN    NaN
7   128177  Chr06  19060381  19060507   126          LINE       NaN    NaN
8   128178  Chr06  19062658  19062992   334          LINE       NaN    NaN
9   128179  Chr06  19065722  19066009   287      MITE/DTM       NaN    NaN
10  128180  Chr06  19066394  19066762   368          LINE       NaN    NaN
11  128181  Chr06  19067380  19067629   249       DNA/DTM       NaN    NaN
12  128182  Chr06  19067682  19067945   263       DNA/DTM       NaN    NaN
13  128183  Chr06  19068018  19068214   196           LTR       NaN    NaN

       Start_2       End_2  Size_2    Taxonomy_2
0   19075299.0  19075411.0   112.0      LTR/TRIM
1   19075722.0  19075842.0   120.0           LTR
2   19076076.0  19076513.0   437.0     DNA/CACTA
3   19077523.0  19078296.0   773.0          LINE
4   19078279.0  19078634.0   355.0  DNA/Helitron
5          NaN         NaN     NaN           NaN
6          NaN         NaN     NaN           NaN
7          NaN         NaN     NaN           NaN
8          NaN         NaN     NaN           NaN
9          NaN         NaN     NaN           NaN
10         NaN         NaN     NaN           NaN
11         NaN         NaN     NaN           NaN
12         NaN         NaN     NaN           NaN
13         NaN         NaN     NaN           NaN
    index    Chr     Start       End  Size      Taxonomy     index  Chr_2
0  128192  Chr06  19083678  19083872   194     DNA/CACTA  128200.0  Chr06  \
1  128193  Chr06  19083691  19083902   211     DNA/CACTA  128201.0  Chr06
2  128194  Chr06  19084271  19084464   193     DNA/CACTA  128202.0  Chr06
3  128195  Chr06  19085182  19085679   497          LINE  128203.0  Chr06
4  128196  Chr06  19088514  19088732   218         SINEs  128204.0  Chr06
5  128197  Chr06  19088733  19088839   106     DNA/CACTA  128205.0  Chr06
6  128198  Chr06  19091072  19091433   361  DNA/Helitron       NaN    NaN

      Start_2       End_2  Size_2 Taxonomy_2
0  19098168.0  19098387.0   219.0   MITE/DTM
1  19098383.0  19098727.0   344.0   DNA/MULE
2  19099164.0  19099505.0   341.0   DNA/MULE
3  19099506.0  19099779.0   273.0   DNA/MULE
4  19099785.0  19099939.0   154.0    DNA/DTM
5  19101639.0  19101842.0   203.0   LTR/TRIM
6         NaN         NaN     NaN        NaN
      index    Chr       Start         End   Size  Taxonomy   index  Chr_2
0  128200.0  Chr06  19098168.0  19098387.0  219.0  MITE/DTM  128206  Chr06  \
1  128201.0  Chr06  19098383.0  19098727.0  344.0  DNA/MULE  128207  Chr06
2  128202.0  Chr06  19099164.0  19099505.0  341.0  DNA/MULE  128208  Chr06
3  128203.0  Chr06  19099506.0  19099779.0  273.0  DNA/MULE  128209  Chr06
4  128204.0  Chr06  19099785.0  19099939.0  154.0   DNA/DTM  128210  Chr06
5  128205.0  Chr06  19101639.0  19101842.0  203.0  LTR/TRIM  128211  Chr06
6       NaN    NaN         NaN         NaN    NaN       NaN  128212  Chr06
7       NaN    NaN         NaN         NaN    NaN       NaN  128213  Chr06
8       NaN    NaN         NaN         NaN    NaN       NaN  128214  Chr06

    Start_2     End_2  Size_2 Taxonomy_2
0  19112195  19112376     181       LINE
1  19112234  19112375     141  DNA/CACTA
2  19112426  19112693     267  DNA/CACTA
3  19115457  19115657     200  DNA/CACTA
4  19115481  19115780     299      SINEs
5  19115740  19115926     186  DNA/CACTA
6  19115927  19116060     133       LINE
7  19116841  19116967     126    DNA/DTC
8  19117078  19117180     102   MITE/DTA
    index    Chr     Start       End  Size        Taxonomy   index  Chr_2
0  212449  Chr10  19080195  19080714   519        DNA/MULE  212459  Chr10  \
1  212450  Chr10  19080808  19081192   384         DNA/DTC  212460  Chr10
2  212451  Chr10  19081229  19083640  2411         DNA/DTC  212461  Chr10
3  212452  Chr10  19083723  19084231   508       DNA/CACTA  212462  Chr10
4  212453  Chr10  19084057  19084237   180        DNA/MULE  212463  Chr10
5  212454  Chr10  19084229  19085165   936  LTR/Copia/SIRE  212464  Chr10
6  212455  Chr10  19085824  19085990   166        LTR/TRIM  212465  Chr10
7  212456  Chr10  19086022  19086188   166       DNA/CACTA  212466  Chr10
8  212457  Chr10  19087056  19087222   166       DNA/CACTA  212467  Chr10

    Start_2     End_2  Size_2     Taxonomy_2
0  19089186  19089502     316   DNA/Helitron
1  19089702  19089874     172            LTR
2  19090219  19091285    1066  LTR/Gypsy/TAT
3  19091941  19092937     996      LTR/Gypsy
4  19092791  19094493    1702  LTR/Gypsy/TAT
5  19094471  19094996     525  LTR/Gypsy/TAT
6  19095451  19095940     489       DNA/MULE
7  19096077  19096530     453           LINE
8  19096688  19096804     116            LTR
Empty DataFrame
Columns: [index, Chr, Start, End, Size, Taxonomy, index, Chr_2, Start_2, End_2, Size_2, Taxonomy_2]
Index: []
    index    Chr    Start      End  Size   Taxonomy     index  Chr_2
0  202902  Chr10  1659461  1659651   190    DNA/DTC  202915.0  Chr10  \
1  202903  Chr10  1660589  1660737   148        LTR  202916.0  Chr10
2  202904  Chr10  1662653  1662824   171        LTR  202917.0  Chr10
3  202905  Chr10  1662842  1662985   143        LTR  202918.0  Chr10
4  202906  Chr10  1663483  1663682   199       LINE       NaN    NaN
5  202907  Chr10  1663757  1664382   625       LINE       NaN    NaN
6  202908  Chr10  1665272  1665721   449  DNA/CACTA       NaN    NaN
7  202909  Chr10  1665741  1665853   112        LTR       NaN    NaN
8  202910  Chr10  1667077  1667519   442        LTR       NaN    NaN
9  202911  Chr10  1667576  1668250   674        LTR       NaN    NaN

     Start_2      End_2  Size_2        Taxonomy_2
0  1674160.0  1674703.0   543.0         LTR/Gypsy
1  1675801.0  1675987.0   186.0      DNA/Helitron
2  1679241.0  1679977.0   736.0  LTR/Gypsy/ATHILA
3  1680068.0  1680827.0   759.0    LTR/Copia/SIRE
4        NaN        NaN     NaN               NaN
5        NaN        NaN     NaN               NaN
6        NaN        NaN     NaN               NaN
7        NaN        NaN     NaN               NaN
8        NaN        NaN     NaN               NaN
9        NaN        NaN     NaN               NaN
      index    Chr      Start        End   Size  Taxonomy   index  Chr_2
0  202898.0  Chr10  1654374.0  1654709.0  335.0       LTR  202906  Chr10  \
1  202899.0  Chr10  1655135.0  1655271.0  136.0  DNA/MULE  202907  Chr10
2  202900.0  Chr10  1655373.0  1655484.0  111.0   DNA/DTC  202908  Chr10
3  202901.0  Chr10  1658977.0  1659460.0  483.0   DNA/DTC  202909  Chr10
4  202902.0  Chr10  1659461.0  1659651.0  190.0   DNA/DTC  202910  Chr10
5       NaN    NaN        NaN        NaN    NaN       NaN  202911  Chr10
6       NaN    NaN        NaN        NaN    NaN       NaN  202912  Chr10
7       NaN    NaN        NaN        NaN    NaN       NaN  202913  Chr10
8       NaN    NaN        NaN        NaN    NaN       NaN  202914  Chr10

   Start_2    End_2  Size_2 Taxonomy_2
0  1663483  1663682     199       LINE
1  1663757  1664382     625       LINE
2  1665272  1665721     449  DNA/CACTA
3  1665741  1665853     112        LTR
4  1667077  1667519     442        LTR
5  1667576  1668250     674        LTR
6  1670179  1670360     181        LTR
7  1670370  1670765     395        LTR
8  1671039  1671259     220        LTR
    index    Chr     Start       End  Size        Taxonomy     index  Chr_2
0  212387  Chr10  18966956  18967958  1002   LTR/Gypsy/CRM  212394.0  Chr10  \
1  212388  Chr10  18968269  18969486  1217  LTR/Copia/SIRE  212395.0  Chr10
2  212389  Chr10  18969579  18970953  1374   LTR/Gypsy/TAT  212396.0  Chr10
3  212390  Chr10  18971507  18972580  1073   LTR/Gypsy/TAT  212397.0  Chr10
4  212391  Chr10  18973008  18974030  1022   LTR/Gypsy/TAT  212398.0  Chr10
5  212392  Chr10  18976253  18977302  1049   LTR/Gypsy/TAT       NaN    NaN

      Start_2       End_2  Size_2      Taxonomy_2
0  18981029.0  18982485.0  1456.0   LTR/Gypsy/TAT
1  18982880.0  18983857.0   977.0  LTR/Copia/SIRE
2  18984058.0  18985059.0  1001.0  LTR/Copia/SIRE
3  18985179.0  18986070.0   891.0   LTR/Gypsy/TAT
4  18986830.0  18989220.0  2390.0  LTR/Copia/SIRE
5         NaN         NaN     NaN             NaN
       index    Chr       Start         End    Size            Taxonomy
0   213167.0  Chr10  20380117.0  20380937.0   820.0  LTR/Copia/TAR-TORK  \
1   213168.0  Chr10  20380930.0  20381630.0   700.0       LTR/Gypsy/TAT
2   213169.0  Chr10  20381855.0  20382325.0   470.0                 LTR
3   213170.0  Chr10  20382345.0  20383230.0   885.0           LTR/Gypsy
4   213171.0  Chr10  20383237.0  20384024.0   787.0       LTR/Gypsy/TAT
5   213172.0  Chr10  20384863.0  20385740.0   877.0       LTR/Gypsy/TAT
6   213173.0  Chr10  20385326.0  20386566.0  1240.0       LTR/Gypsy/TAT
7        NaN    NaN         NaN         NaN     NaN                 NaN
8        NaN    NaN         NaN         NaN     NaN                 NaN
9        NaN    NaN         NaN         NaN     NaN                 NaN
10       NaN    NaN         NaN         NaN     NaN                 NaN
11       NaN    NaN         NaN         NaN     NaN                 NaN
12       NaN    NaN         NaN         NaN     NaN                 NaN
13       NaN    NaN         NaN         NaN     NaN                 NaN
14       NaN    NaN         NaN         NaN     NaN                 NaN
15       NaN    NaN         NaN         NaN     NaN                 NaN

     index  Chr_2   Start_2     End_2  Size_2          Taxonomy_2
0   213174  Chr10  20386964  20388152    1188      LTR/Copia/SIRE
1   213175  Chr10  20388284  20389612    1328      LTR/Copia/SIRE
2   213176  Chr10  20390209  20390746     537             DNA/DTC
3   213177  Chr10  20390761  20390962     201        DNA/Helitron
4   213178  Chr10  20390963  20391902     939       LTR/Gypsy/TAT
5   213179  Chr10  20391903  20392051     148        DNA/Helitron
6   213180  Chr10  20392097  20392626     529      LTR/Copia/SIRE
7   213181  Chr10  20392153  20393173    1020  LTR/Copia/TAR-TORK
8   213182  Chr10  20393571  20393769     198             DNA/DTM
9   213183  Chr10  20393938  20394224     286           DNA/CACTA
10  213184  Chr10  20394223  20395318    1095      LTR/Copia/SIRE
11  213185  Chr10  20395327  20395771     444           DNA/CACTA
12  213186  Chr10  20395793  20395971     178           DNA/CACTA
13  213187  Chr10  20396011  20396071      60            MITE/DTM
14  213188  Chr10  20396060  20396124      64            MITE/DTM
15  213189  Chr10  20396202  20396768     566                 LTR
      index    Chr       Start         End    Size       Taxonomy   index
0  217090.0  Chr10  28934858.0  28936939.0  2081.0  LTR/Gypsy/TAT  217095  \
1  217091.0  Chr10  28936940.0  28938913.0  1973.0  LTR/Gypsy/TAT  217096
2  217092.0  Chr10  28939629.0  28940393.0   764.0  LTR/Gypsy/CRM  217097
3  217093.0  Chr10  28940494.0  28943347.0  2853.0  LTR/Gypsy/CRM  217098
4       NaN    NaN         NaN         NaN     NaN            NaN  217099
5       NaN    NaN         NaN         NaN     NaN            NaN  217100

   Chr_2   Start_2     End_2  Size_2     Taxonomy_2
0  Chr10  28944824  28946805    1981  LTR/Gypsy/CRM
1  Chr10  28946803  28948767    1964      LTR/Gypsy
2  Chr10  28948765  28949356     591  LTR/Gypsy/CRM
3  Chr10  28948768  28948915     147       DNA/MULE
4  Chr10  28949112  28950116    1004  LTR/Gypsy/TAT
5  Chr10  28950187  28951232    1045            LTR
    index    Chr    Start      End  Size            Taxonomy     index  Chr_2
0  122262  Chr06  8188627  8192807  4180  LTR/Copia/TAR-TORK  122272.0  Chr06  \
1  122263  Chr06  8192966  8193129   163            DNA/MULE  122273.0  Chr06
2  122264  Chr06  8193182  8193343   161           DNA/CACTA  122274.0  Chr06
3  122265  Chr06  8193207  8193725   518  LTR/Copia/TAR-TORK  122275.0  Chr06
4  122266  Chr06  8193209  8196016  2807           DNA/CACTA  122276.0  Chr06
5  122267  Chr06  8196412  8197747  1335           DNA/CACTA       NaN    NaN

     Start_2      End_2  Size_2     Taxonomy_2
0  8200506.0  8203620.0  3114.0      LTR/Gypsy
1  8203621.0  8207738.0  4117.0  LTR/Gypsy/TAT
2  8208167.0  8208720.0   553.0  LTR/Gypsy/TAT
3  8208849.0  8209984.0  1135.0  LTR/Gypsy/TAT
4  8209985.0  8211228.0  1243.0  LTR/Gypsy/TAT
5        NaN        NaN     NaN            NaN
    index    Chr    Start      End  Size                Taxonomy     index
0  120249  Chr06  4796120  4797253  1133          LTR/Copia/SIRE  120259.0  \
1  120250  Chr06  4797245  4797353   108                DNA/MULE  120260.0
2  120251  Chr06  4797969  4798143   174               DNA/CACTA  120261.0
3  120252  Chr06  4798150  4798360   210                 DNA/DTC  120262.0
4  120253  Chr06  4798341  4798504   163                 DNA/DTC  120263.0
5  120254  Chr06  4798503  4799443   940           LTR/Gypsy/TAT  120264.0
6  120255  Chr06  4801424  4801956   532               LTR/Copia       NaN
7  120256  Chr06  4802482  4802736   254            DNA/Helitron       NaN
8  120257  Chr06  4803481  4804242   761  LTR/Copia/ALE-RETROFIT       NaN

   Chr_2    Start_2      End_2  Size_2              Taxonomy_2
0  Chr06  4805692.0  4807400.0  1708.0  LTR/Copia/ALE-RETROFIT
1  Chr06  4808897.0  4809124.0   227.0            DNA/Helitron
2  Chr06  4809123.0  4810681.0  1558.0  LTR/Copia/ALE-RETROFIT
3  Chr06  4810675.0  4811426.0   751.0           LTR/Gypsy/CRM
4  Chr06  4813052.0  4814110.0  1058.0               LTR/Gypsy
5  Chr06  4814682.0  4814900.0   218.0            DNA/Helitron
6    NaN        NaN        NaN     NaN                     NaN
7    NaN        NaN        NaN     NaN                     NaN
8    NaN        NaN        NaN     NaN                     NaN
    index    Chr    Start      End  Size                Taxonomy     index
0  120171  Chr06  4682324  4682490   166                MITE/DTA  120184.0  \
1  120172  Chr06  4682344  4682649   305                MITE/DTA  120185.0
2  120173  Chr06  4682900  4683726   826           LTR/Gypsy/TAT  120186.0
3  120174  Chr06  4684499  4684666   167                     LTR  120187.0
4  120175  Chr06  4684621  4686425  1804               LTR/Copia  120188.0
5  120176  Chr06  4686734  4688011  1277  LTR/Copia/ALE-RETROFIT  120189.0
6  120177  Chr06  4688910  4689042   132            DNA/Helitron  120190.0
7  120178  Chr06  4689128  4689326   198            DNA/Helitron       NaN

   Chr_2    Start_2      End_2  Size_2      Taxonomy_2
0  Chr06  4695786.0  4696056.0   270.0    DNA/Helitron
1  Chr06  4696290.0  4696407.0   117.0    DNA/Helitron
2  Chr06  4696565.0  4696755.0   190.0    DNA/Helitron
3  Chr06  4696846.0  4697518.0   672.0  LTR/Copia/SIRE
4  Chr06  4698464.0  4700212.0  1748.0   LTR/Gypsy/TAT
5  Chr06  4702231.0  4703328.0  1097.0   LTR/Gypsy/TAT
6  Chr06  4703329.0  4705602.0  2273.0  LTR/Copia/SIRE
7    NaN        NaN        NaN     NaN             NaN
Empty DataFrame
Columns: [index, Chr, Start, End, Size, Taxonomy, index, Chr_2, Start_2, End_2, Size_2, Taxonomy_2]
Index: []
Empty DataFrame
Columns: [index, Chr, Start, End, Size, Taxonomy, index, Chr_2, Start_2, End_2, Size_2, Taxonomy_2]
Index: []
Empty DataFrame
Columns: [index, Chr, Start, End, Size, Taxonomy, index, Chr_2, Start_2, End_2, Size_2, Taxonomy_2]
Index: []
Empty DataFrame
Columns: [index, Chr, Start, End, Size, Taxonomy, index, Chr_2, Start_2, End_2, Size_2, Taxonomy_2]
Index: []
    index    Chr     Start       End  Size      Taxonomy   index  Chr_2
0  247540  Chr11  45143078  45143250   172       DNA/DTC  247542  Chr11  \
1  247541  Chr11  45149692  45149896   204  DNA/Helitron  247543  Chr11

    Start_2     End_2  Size_2 Taxonomy_2
0  45157475  45157691     216  DNA/CACTA
1  45161925  45162146     221       LINE

In [61]:
for i in range(len(df2['End'])):
    # Definir los límites del rango
    chr=df2.loc[i,'Chr']
    start = df2.loc[i,'End']
    end = start+10000
    print(chr,start,end)
    
    
    # # Seleccionar las filas de la primera tabla que caen dentro del rango
    mask = (TEvulgaris['Chr']==chr) & (TEvulgaris['End'] >= start) & (TEvulgaris['End'] <= end)
    result = TEvulgaris[mask]
    
    # # Imprimir el resultado
    with open ('TEvulgaris_10kbmore.txt', 'a') as f:
        f.write("DATAFRAME\n")
        result.to_csv(f, sep='\t', index=False)

Chr06 698504 708504
Chr06 19058210 19068210
Chr06 19070752 19080752
Chr06 19094730 19104730
Chr06 19107947 19117947
Chr10 19089486 19099486
Chr8 31904826 31914826
Chr10 1672672 1682672
Chr10 1663311 1673311
Chr10 18979469 18989469
Chr10 20387250 20397250
Chr10 28945243 28955243
Chr06 8201997 8211997
Chr06 4806473 4816473
Chr06 4696021 4706021
Chr8 49308323 49318323
Chr8 49415585 49425585
Chr8 49531128 49541128
Chr8 49565723 49575723
Chr11 45153794 45163794