In [1]:
import pandas as pd

In [3]:
%cd C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\GENOMIC\Daniela
var=pd.read_csv('matrizVariabilidad.csv',sep=";")

C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\GENOMIC\Daniela

C:\Users\duart\AppData\Local\Temp\ipykernel_4076\119041240.py:2: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  var=pd.read_csv('matrizVariabilidad.csv',sep=";")

In [45]:
var

,Chr,Start,End,Size,Taxonomy,WILD_MI,WILD_MI.1,WILD_MI.2,WILD_MI.3,WILD_MI.4,...,WILD_AI.6,WILD_AI.7,WILD_AI.8,WILD_AI.9,WILD_AI.10,WILD_AI.11,WILD_AI.12,WILD_AI.13,WILD_AI.14,filtrar
0,NaN,NaN,NaN,NaN,NaN,G25229,G25230,G25231,G25232,G25970,...,G26464,G26465,G26467,G26468,G26469,G26607,G26608,G26609,G26751,fil
1,Pl01,55843.0,56809.0,966.0,LTR/Gypsy/TEKAY-DEL,1,0,1,1,1,...,1,0,0,1,0,0,1,0,1,19
2,Pl01,56400.0,58091.0,1691.0,LTR/Gypsy/TEKAY-DEL,1,0,1,1,1,...,1,0,0,1,0,0,1,0,1,19
3,Pl01,286104.0,286825.0,721.0,DNA/CACTA,0,0,1,0,1,...,1,1,1,1,0,1,1,1,1,10
4,Pl01,480204.0,481439.0,1235.0,LTR/Gypsy/TAT,1,0,0,1,1,...,0,0,1,0,0,1,1,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39455,Pl11,47421510.0,47422100.0,590.0,LTR,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
39456,Pl11,47593854.0,47599598.0,5744.0,LTR/Copia/TAR-TORK,1,1,0,0,0,...,0,0,0,1,0,1,1,0,0,46
39457,Pl11,48030271.0,48030829.0,558.0,LTR/Gypsy/REINA,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,11
39458,Pl11,48030891.0,48031617.0,726.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,11
39459,Pl11,48031618.0,48034414.0,2796.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,11

In [9]:
adyacente=pd.read_csv('transposonesAdyacentesCyanogenesis.txt',sep=",",names=["Gene","Start","End"])

In [10]:
adyacente['GeneV1']=adyacente['Gene'].where(adyacente['Gene'].str.contains('.v1'), '')
adyacente['GeneV1'] = adyacente['GeneV1'].replace('', method='ffill')

In [11]:
adyacente=adyacente.dropna()
adyacente=adyacente.drop('Gene',axis=1)
v1=adyacente.pop('GeneV1')
adyacente.insert(0,'GeneV1',v1)

In [41]:
adyacente=adyacente.reset_index(drop=True)

In [54]:
ady

numpy.float64

In [70]:
finalDF=pd.DataFrame(columns=var.columns)
for i in range(len(adyacente['Start'])):
    value = int(adyacente['Start'][i])
    condition=var['Start'] == value
    coord=var.loc[condition]
    finalDF=pd.concat([finalDF,coord],axis=0)   
finalDF

,Chr,Start,End,Size,Taxonomy,WILD_MI,WILD_MI.1,WILD_MI.2,WILD_MI.3,WILD_MI.4,...,WILD_AI.6,WILD_AI.7,WILD_AI.8,WILD_AI.9,WILD_AI.10,WILD_AI.11,WILD_AI.12,WILD_AI.13,WILD_AI.14,filtrar
17802,Pl06,853219.0,854939.0,1720.0,LTR/Gypsy/TEKAY-DEL,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
17803,Pl06,854940.0,856920.0,1980.0,LTR/Gypsy/ATHILA,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
17804,Pl06,855435.0,857193.0,1758.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
17805,Pl06,857194.0,860745.0,3551.0,LTR/Gypsy/TEKAY-DEL,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
17806,Pl06,859185.0,860965.0,1780.0,LTR/Gypsy/CRM,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34957,Pl10,42956336.0,42959990.0,3654.0,LTR/Copia/TAR-TORK,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
34958,Pl10,42960916.0,42967821.0,6905.0,DNA/CACTA,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
34974,Pl10,43356994.0,43359333.0,2339.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,0,1,1,1,1,1,1,0,13
34974,Pl10,43356994.0,43359333.0,2339.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,0,1,1,1,1,1,1,0,13
34974,Pl10,43356994.0,43359333.0,2339.0,LTR/Gypsy/TAT,1,1,1,1,1,...,1,0,1,1,1,1,1,1,0,13

In [71]:
finalDF.insert(0,'GeneV1',adyacente['GeneV1'])

In [ ]:
finalDF.drop('GeneV1',axis=1,inplace=True)

In [83]:
finalDF_reset_index = finalDF.reset_index(drop=True)
finalDF_reset_index.insert(0, 'GeneV1', adyacente_reset_index['GeneV1'])

In [85]:
finalDF_reset_index.to_csv('varCyanoTEPlun.csv',sep=";")